<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <base href="http://localhost:3000/">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script>
        const ROOMID = '<%= roomId %>';
    </script>

    <script src="semantic/semantic.min.js" defer></script>
    <script src="js/invite/script.js" defer></script>


    <link rel="stylesheet" href="semantic/semantic.min.css">
    <link rel="stylesheet" href="css/invite/invite.css">
</head>
<body>
    <div id="login-wrapper">
        <div class="ui card">
            <h2 class="ui header">JOIN A ROOM</h2>
            <form class="ui form" method="POST" action="/submit-login">
                <div class="field">
                    <label for="firstname">First Name*</label>
                    <input type="text" name="firstname" id="firstname">
                </div>
                <div class="field">
                    <label for="lastname">Last Name*</label>
                    <input type="text" name="lastname" id="lastname">
                </div>
                <div class="disabled field">
                    <label for="roomname">Room</label>
                    <input type="text" name="roomname" id="roomname">
                </div>
                <br><br>
                <button class="ui primary button" style="padding: 15px 50px 15px 50px" type="submit">submit</button>
            </form>
        </div>
    </div>
    <div id="panel">
        <a href="https://www.freepik.com/vectors/background" style="position:absolute;margin:auto;bottom:0;color:white;right:350px;">Background vector created by freepik - www.freepik.com</a>
    </div>
</body>
</html>